
<button class="square" @onclick="Play">
    @Value
</button>

@code {
    [Parameter]
    public string Value { get; set; }

    [Parameter]
    public EventCallback<int> HandleClick { get; set; }

    private void Play(MouseEventArgs e)
    {
        HandleClick.InvokeAsync();
    } 
}
